<h2>Eventos</h2>
<hr/>

<form action="" class="form-inline">
  <div class="form-group mb-2 d-flex align-items-center">
    <input type="text" class="form-control mr-2" style="width: 350px;" placeholder="Buscar">
    <button class="btn btn-success">Buscar</button>
  </div>
</form>


<table class="table">
  <thead class="table-dark">
    <tr>
      <th>#</th>
      <th>Image</th>
      <th>Tema</th>
      <th>Local</th>
      <th>Data</th>
      <th>Qtde. Pessoas</th>
      <th>Lote</th>
      <th>Opções</th>
    </tr>
  </thead>
  <tbody>
    <tr *ngFor="let evento of eventos">
      <td>{{evento.eventoId}}</td>
      <td>{{evento.imagemURL}}</td>
      <td>{{evento.tema}}</td>
      <td>{{evento.local}}</td>
      <td>{{evento.data}}</td>
      <td>{{evento.qtdPessoas}}</td>
      <td>{{evento.local}}</td>
      <td></td>
    </tr>
  </tbody>
</table>
